*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

div img{
    display: flex;
    align-items: center;
    justify-content: center;

}
header{
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.dwon{
    background-color: black;
    padding: 15px 20px;
    color: white;
}

header .logo{
    position: relative;
    color: rgb(10, 9, 9);
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5;
}


nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a{
    position: relative;
    font-family: Helvetica;
    margin:  0 15px;
    text-decoration: none;
    color: rgb(12, 12, 12);
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

.zona1{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

header.dwon .logo,
header.dwon ul li a{
    color: rgb(234, 230, 223);
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 48rem;
}

.profile{
    margin-top: 90px;
    justify-content: space-around;
}

.box{

}

.photo img{
    margin-top: 100px;
    height: 90px;
    width: 90px;
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 5px solid rgba(241, 238, 226, 0.454);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.3)


